/*

font-family: 'Quicksand', sans-serif;

*/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

:root{
    --fontPpal:'Quicksand', sans-serif;;
}

.borrar-mensaje{
    float: right;
    cursor: pointer;
    color: red;
    background-color: yellow;
    font-weight: bold;
}


.error{
    background-color: red;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 40rem;
    margin: 0 auto;
    color: aliceblue;
}